// @font-face {
//     font-family: "Soehne-Mono";
//     src: url('./static/fonts/soehne-mono-web-buch-kursiv.woff2') format("woff2");
// }

h3 {
  font-size: 28px;
}

section {
  position: relative;

  .contentWrapper {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 40px;
    height: auto;
    display: block;
    height: auto;
  }
}

// transitions
.standard-enter-active,
.standard-leave-active {
  transition: opacity 0.5s;
}
.standard-enter,
.standard-leave-active {
  opacity: 0;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/*==========  Non-Mobile First Method  ==========*/

/*Above */
@media only screen and (min-width: 1201px) {
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }

  p,
  a,
  h1,
  h2,
  h3,
  span,
  li,
  ul,
  table {
    color: $black;
    font-size: 21px;
    line-height: 28px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
