// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@font-face {
  font-family: 'Soehne-Mono';
  font-style: normal;
  src: url(~assets/fonts/soehne-mono-web-buch.woff2) format('woff2');
}

@font-face {
  font-family: 'Soehne-Mono';
  font-style: italic;
  src: url(~assets/fonts/soehne-mono-web-buch-kursiv.woff2) format('woff2');
}

$transitionDefault: 400ms ease;

//colors
$lightweight: #f1f1f1;
$lightweightdarker: #e4e4e4;
$black: #000000;
$green: #aaff04;

body {
  font-family: 'Soehne-Mono', monospace;
  background-color: $lightweight;
}

p,
a,
h1,
h2,
h3,
span,
li,
ul,
table {
  color: $black;
  font-size: 21px;
  line-height: 32px;
}

$footerRadioHeight: 70px;

// html,
// body {
//   background-color: black;
//   height: 100%;
//   font-family: "Inter", sans-serif;
// }

// p,
// h1,
// h2,
// h3,
// a,
// ul {
//   color: white;
// }

.aspect-ratio-wrap {
  height: 0px;
  width: 100%;
  overflow: visible;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.block--gallery {
  .slick-carousel {
    img {
      pointer-events: none;
    }
  }
}

.block {
  margin-bottom: 1rem;
}

.page-enter-active,
.page-leave-active {
  transition: opacity $transitionDefault;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

img {
  transition: opacity $transitionDefault;
  vertical-align: middle;
  max-width: 100%;
}
img.lazy {
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}

.no-margin {
  margin: 0 !important;
}
