// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@font-face {
    font-family: 'Soehne-Mono';
    font-style: normal;
    src: url(~assets/fonts/soehne-mono-web-buch.woff2) format('woff2');
}

@font-face {
    font-family: 'Soehne-Mono';
    font-style: italic;
    src: url(~assets/fonts/soehne-mono-web-buch-kursiv.woff2) format('woff2');
}

//colors
$lightweight: #F1F1F1;
$black: #000000;
$green: #AAFF04;


body {
    font-family: 'Soehne-Mono', monospace;
    background-color: $lightweight;
}

p, a, h1, h2, h3, span, li, ul {
    color: $black;
    font-size: 24px;
line-height: 31px;
}


$footerRadioHeight: 70px;

// html,
// body {
//   background-color: black;
//   height: 100%;
//   font-family: "Inter", sans-serif;
// }

// p,
// h1,
// h2,
// h3,
// a,
// ul {
//   color: white;
// }
